{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image" href="{% static 'images/logo.png' %}">

  </head>
  <body>
    <div class="ab-cont">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo-removebg-preview.png' %}" alt="logo">
      </a>

      <nav class="navbar">
        <button>
          <a href="{% url 'post' %}">Post</a>
        </button>
      </nav>

    </div>
    <!-- <div class="ac-cont">
      <div id="quote-container">
        <h3 id="quote">Loading...</h3>
      </div>
      <script>
        const quotes = [
        "The kindness you put out into this world will have a way of coming back to you",
        "Spread kindness around to those who need it.",
        "You have not lived today until you have done something for someone who can never repay you.",
        "Try to be a rainbow in someone's cloud",
        "There is nothing more beautiful than someone who goes out of their way to make life beautiful for others.",
        "Be the change you want to see in the world",
        "You have to lift a person up before you can really put them in their place.",
        "Wherever there is a human in need, there is an opportunity for kindness and to make a difference",
        "Strive not to be a success, but rather to be of value.",
        "The best way to find yourself is to lose yourself in the services of others"
        ];

        let currentQuoteIndex = 0;
        const quoteElement = document.getElementById('quote');

        function changeQuote() {
            quoteElement.innerHTML = `"${quotes[currentQuoteIndex]}"`;
            currentQuoteIndex = (currentQuoteIndex + 1) % quotes.length;
        }

        // Initial call
        changeQuote();

        // Set interval for changing quotes
        setInterval(changeQuote, 10000); // 10000 milliseconds = 10 seconds
      </script>
    </div> -->
    
    <form method="post" action="{% url 'search_document' %}">
      {% csrf_token %}
      <div class="sea-area">
        <div class="searc-control">
          <input type="text" name="search_query" placeholder="Search">
        </div>
        <div class="se-btn">
          <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
      </div>
    </form>
    <div class="sear-ar">
      {% if results %}
      <div class="img-deco">
        {% for name in results %}
          {% if name.upload_images %}
          <h1>Search Results for "{{ search_query }}"</h1>
            <img src="{{ name.upload_images.url }}" alt="Image">
            {% endif %}
        {% endfor %}
      </div>
      {% elif results is None %}
      <div class="img-deco">
        {% for doc in image_list %}
            {% if doc.upload_images %}
              <img src="{{ doc.upload_images.url }}" alt="Image"> 
            {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <h1>No results found.</h1>
      {% endif %}
    </div>
  </body>
</html>