{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image" href="{% static 'images/logo.png' %}">

  </head>
  <body>
    <div class="ab-cont">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo-removebg-preview.png' %}" alt="logo">
      </a>

      <nav class="navbar">
        <button>
          <a href="{% url 'post' %}">Post</a>
        </button>
      </nav>

    </div>
    
    <form method="post" action="{% url 'search_document' %}">
      {% csrf_token %}
      <div class="sea-area">
        <div class="searc-control">
          <input type="text" name="search_query" placeholder="Search">
        </div>
        <div class="se-btn">
          <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
      
    </form>
    <div class="sear-ar">
      {% if results %}

      <div class="search-results-container">
        <h1>Search Results for "{{ search_query }}"</h1>
        <div class="img-deco">
          {% for name in results %}
            {% if name.upload_images %}
              <a href="{% url 'image_details' id=name.pk %}">
                <img src="{{ name.upload_images.url }}" alt="Image">
              </a>

              <form method="post" action="{% url 'delete_image' id=name.pk %}">
                {% csrf_token %}
                <button type="submit" class="delete-btn-image">Delete</button>
              </form>
              <form method="post" action="{% url 'update_image' id=name.pk %}">
                {% csrf_token %}
                <button type="submit" class="update-btn-image">Update</button>
              </form>
            {% endif %}
          {% endfor %}
        </div>
      {% elif results is None %}
      <div class="img-deco">
        {% for doc in image_list %}
            {% if doc.upload_images %}
            <a href="{% url 'image_details' id=doc.pk %}">
              <img src="{{ doc.upload_images.url }}" alt="Image">
            </a>

            <form method="post" action="{% url 'delete_image' id=doc.pk %}">
              {% csrf_token %}
              <button type="submit" class="delete-btn-image">Delete</button>
            </form>

            <form method="post" action="{% url 'update_image' id=doc.pk %}">
              {% csrf_token %}
              <button type="submit" name="update" class="update-btn-image">Update</button>
            </form>
            {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <h1>No results found</h1>
      {% endif %}
    </div>
    </div>
  </body>
</html>