{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/claim.css' %}">
  </head>
  <body>
    <div class="claim-cont">
      <div class="claim-contain">
        <h2>Collector Details</h2>
        <div class="cont-v">
          <div class="v-co">
            <table class="table">
            <tr>
              <th>FullName</th>
              <th>Location</th>
              <th>PhoneNumber</th>
            </tr>
            <tr>
              <td>{{image.name}}</td>
              <td>{{image.location}}</td>
              <td>{{image.tel}}</td>
            </tr>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div> 
  </body>
</html>