{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

  </head>
  <body>
    <div class="semi-circle">
    </div>
    <div class="ab-cont">
        <h1>LostFound</h1>
    </div>
    <div class="ac-cont">
        <h3>Will drop The Inspirational Quotes here</h3>
    </div>
    <div class="sm-cont">
        <h2>LostFound</h2>
        <p>LostFound platform helps users restore and post lost or misplaced Identification and<br> Professional documents</p>
        <button>
          <a href="{% url 'post' %}">Go to Home</a>
        </button>
    </div>
  </body>
</html>