{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image" href="{% static 'images/logo.png' %}">

  </head>
  <body>
    <div class="ab-cont">
      <img src="{% static 'images/logo-removebg-preview.png' %}" alt="logo">
    </div>
    <div class="ac-cont">
      <div id="quote-container">
        <h3 id="quote">Loading...</h3>
      </div>
      <script>
        const quotes = [
        "The kindness you put out into this world will have a way of coming back to you",
        "Spread kindness around to those who need it.",
        "You have not lived today until you have done something for someone who can never repay you.",
        "Try to be a rainbow in someone's cloud",
        "There is nothing more beautiful than someone who goes out of their way to make life beautiful for others.",
        "Be the change you want to see in the world",
        "You have to lift a person up before you can really put them in their place.",
        "Wherever there is a human in need, there is an opportunity for kindness and to make a difference",
        "Strive not to be a success, but rather to be of value.",
        "The best way to find yourself is to lose yourself in the services of others"
        ];

        let currentQuoteIndex = 0;
        const quoteElement = document.getElementById('quote');

        function changeQuote() {
            quoteElement.innerHTML = `"${quotes[currentQuoteIndex]}"`;
            currentQuoteIndex = (currentQuoteIndex + 1) % quotes.length;
        }

        // Initial call
        changeQuote();

        // Set interval for changing quotes
        setInterval(changeQuote, 10000); // 10000 milliseconds = 10 seconds
      </script>
    </div>
    <div class="ad-cont">
      <div class="sm-container">
        <h2>LostFound</h2>
        <div class="sma-container">
          <p>LostFound platform helps users restore and post lost or misplaced Identification and Professional documents such as Id, drivers license, diploma, and student card...</p>
        </div>
      </div>
      <div class="im-container">
        <img src="{% static 'images/Rwanda_ID_4ea79bff5c.png' %}" alt="id-image">
      </div>
    </div>
    <div class="sm-cont">
      <button>
        <a href="{% url 'board_images' %}">Go to Home</a>
      </button>
    </div>
  </body>
</html>