{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confim.css' %}">
    <title>Reset your Password</title>
  </head>
  <body>
    <div class="container">
        {% if validlink %}
            <h2>Change password for {{ form.username }}</h2>
        {% else %}
            <p>Reset your password</p>
        {% endif %}
    </div>
    <div class="bod-cont">
      <div class="card-body">
        {% if validlink %}
          <h3 class="card-title">Change password for @{{ form.username }}</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-ch">
              <button type="submit">Change password</button>
            </div>
          </form>
        {% else %}
        <div class="card-title" >
          <h3>Reset your password</h3>
          <div>
            It looks like you clicked on an invalid password reset link. Please try again.
          </div>
          <a href="{% url 'password_reset' %}">Request a new password reset link</a>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>