{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_done.css' %}">
    <title>Reset your Password</title>
  </head>
  <body>
    <div class="res-don">
      <h2>Reset your password</h2>
      <p>Check your email for a link to reset your password. If it does not appear within a few minutes, check your spam folder.</p>
    </div>
    <div class="rt-container">
      <div class="rtn-hm">
        <a href="{% url 'login' %}">Return to log in</a>
    </div>
    </div>
  </body>
</html>