{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>change Password</title>
  </head>
  <body>
    <div>
      <h2>Change password successful</h2>
    </div>
    <div>
        <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change password</a></li>
        <li class="breadcrumb-item active">Success</li>
    </div>
    <div>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Your password has been changed!
          </div>
          <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
        {% endblock %}
    </div>
  </body>
</html>