{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
    <title>Reset your Password</title>
  </head>
  <body>
    <div class="rst-password">
      <h2>Reset your password</h2>
      <p> Enter your email address and we will send you a link to reset you password</p>
    </div>
    <div class="ff-container">
      <div class="f-container">
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="text" name="email" placeholder="Email">
          <button type="submit">Send password reset email</button>
        </form>
      </div>
    </div>
    
    
  </body>
</html>