{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_complete.css' %}">
    <title>Reset your Password</title>
  </head>
  <body>
    <div class="chan-pass">
      <h2>Password changed!</h2>
    </div>
    <div class="ch-passwor">
        You have successfully changed your password! You may now proceed to log in.
    </div>
    <div class="ch-contai">
      <div class="ch-hm">
        <a href="{% url 'login' %}">Return to log in</a>
      </div>
    </div>

  </body>
</html>