{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lost and found doc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image" href="{% static 'images/logo.png' %}">
  </head>
  <body>
    <div class="post-cont">
     <div class="cont-a">
     </div>
     <div class="cont-b">
      <h2>Open doors for others</h2>
      <p>Post Found documents here</p>
      <small> We appreciate your kindness</small>
     </div>
     <div class="cnt-d">
     </div>
     
     <div class = post-cont2>
      <div class="sub-cont">
        <div class="as-cont">
          <h2>Welcome</h2>
          <h3>Post Found docs</h3>
        </div>
          <div class="p-form">
            <small>Owners details</small>
            <form method="post" action="{% url 'upload_image_view' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-lbl">
                <div>
                  <input type="text" class="form-control" id="id_subject"
                  placeholder="FirstName"
                  name="first_name" required>
                </div>
              </div>
              <div class="form-lbl">
                <div>
                  <input type="text" class="form-control" id="id_subject" 
                  placeholder="SecondName"
                  name="second_name" required>
                </div>
              </div>
              <div class="form-lbl">
                <div Class="fm-lb">
                  <small>Your details</small>
                </div>
              </div>
              <div class="form-lbl">
                <div>
                  <input type="text" class="form-control" id="id_subject" 
                  placeholder="FullName"name="name" required>
                </div>
              </div>
              <div class="form-lbl">
                <div>
                  <input type="text" class="form-control" id="id_subject" 
                  placeholder="Location"
                  name="location" required> 
                </div>
                </div>
              <div class="form-lbl">
                <div>
                  <input type="text" class="form-control" id="id_subject" 
                  placeholder="PhoneNumber"name="tel" required>
                </div>
              <div class="sbmt-form">
                <label for="img">Upload only image</label>
                  <input type="file" id="img" name="upload_images" accept="image/*" required>
                </div>
              <div class="upl-btn">
                <input type="submit" class="btn1" value="Upload">
              </div>
            </form>
          </div>
      </div>
     </div>
    </div>
  </body>
</html>