body {
    height: 100vh;
    margin: 0;
    background-color: #D9D9D9;

  }
  .rst-password {
    text-align: center;
  }
  .ff-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
  }
  .f-container {
    background-color: #8C8E8F;
    height: 25vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  input{
    border: none;
    border-radius: 10px;
    width: 35vh;
    height: 5vh;
  }
  input::placeholder{
    text-align: center;
  }
  button{
    margin: 30px;
    width: 30vh;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #1f3667;
    color: white;
  }
  