.logo-dec{
    margin: 30px;
    font-weight: bold;
    position: fixed;
}
.navbar{
    text-align: right;
    padding: 50px;
    font-size: 30px;
}
.navbar a{
    position: fixed;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
}
.sea-area{
    text-align: center;
}
.img-deco{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.img-deco img{
    padding: 30px;
    height: 30%;
    width: 30%;
    
}
