.navbar{
    text-align: right;
    padding: 50px;
    font-size: 30px;
    margin-right: 10vh;
  
}
.navbar button{
    background-color: #f4a668;
    border-radius: 3vh;
    height: 30px;
    width: 10%;
    border: none;
    text-align: center;
    margin-left: 10mm;

}
.navbar a{
    position: fixed;
    text-decoration: none;
    font-weight: bold;
    color: black;
    top: 65px;
}
.sea-area{
    text-align: center;
    margin: 8% 0% 0% 35%;

}
.searc-control{
    position: fixed;
    
}
.searc-control input{
    height: 4.7vh;
    width: 61vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: black;
}
.se-btn{
    margin-right: 45vh;
    padding-top: 2px;
}
.se-btn button{
    position: fixed;
    height: 5vh;
    margin-left: 9vh;
    border-radius: 3vh;
    border: none;
    width: 5vh;
}
.sear-ar{
    padding: 30px;
}
.sear-ar h1{
    text-align: center;
    padding: 90px;
}
.img-deco{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 30px;
    
}
.img-deco img{
    padding: 30px;
    height: 30%;
    width: 25%;
    
}
