body{
    background-color: white;
    color: #424B54;
    
}
.semi-circle{
    background-color: #93A8AC;
    opacity: 50%;
    height: 80vh;
    width: 80vh;
    border-radius: 100%;
    position: fixed;
    top: -30%;
    left: 10%;
    
}
.ab-cont{
    margin: 30px;
    font-weight: bold;
    position: fixed;
    top: -1%;
    color: #124559;

}
/* .abb-c{
    text-align: center;
}
.abb-c img{
    position: fixed;
    padding-right: 80vh;
    top: -10px;
} */
.ac-cont{
    text-align: right;
    position: fixed;
    top: 2%;
}
.ac-cont h3{
    font-weight: bold;
    margin-left: 100vh;
}
.sm-cont{
    text-align: center;
    margin: 20%;
    position: relative;
}
.sm-cont h2{
    font-size: 70px;
    padding: 20px;
    
}
.sm-cont p{
    padding-top: 4px;
    font-size: 20px;
}
.sm-cont button{
    background-color: green;
    padding: 10px;
    border-radius: 3vh;
    cursor: pointer;
}
.sm-cont button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#quote-container {
    margin: 50px;
    position: relative;
}
#lamp {
    width: 80vh;
    transition: filter 1s ease-in-out;
}