body {
    height: 100vh;
    margin: 0;
    background-color: #D9D9D9;

  }
  .res-don {
    text-align: center;
  }
  .rt-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rtn-hm{
    margin: 20px;
    width: 30vh;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #1f3667;
    color: white;
    justify-content: center;
    text-align: center;
  
  }
  .rtn-hm a{
    color: white;
    text-decoration: none;
  }