body{
    height: 100vh;
    margin: 0;
    background-color: #D9D9D9;
  }
.chan-pass{
    text-align: center;
}
.ch-passwor{
    text-align: center;
}
.ch-contai{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ch-hm{
    background-color: #1f3667;
    height: 30px;
    width: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none
}