.post-cont{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    position: fixed;

}.sub-cont{
    border-radius: 25px;
    background-color: rgb(140, 142, 143);
    width: 300px;
    height: 450px;
    padding: 0 10px 0 10px;
    float: right;
    position: relative;
    opacity: 80%;
}
.as-cont{
    text-align: center;
}
.p-form{
    color: black;
}
.p-form small{
    font-weight: bold;
}
.form-lbl{
    margin-top: 5px;
    margin-left: 12px;
}
.fm-lb{
    margin-left: -12px;
}
.sbmt-form{
    padding-top: 10px;
}
.btn1{
    background-color: green;
    border-radius: 3vh;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    height: 30px;
    width: 25vh;
    margin-left: 25px;
    
}