body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
    
}
.post-cont{
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.cont-a{
    background-color: #1f3667;
    width: 20%;
    height: 100%;
    transform: perspective(60px) rotateY(20deg) scale(1, 0.6);
    margin-left: 3%;
}
.cont-b{
    width: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: black;
    
}
.cont-b h2{
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    
}
.cont-b p, small{
    margin: 0;
    font-size: 18px;
}

.cnt-d{
    background-color: #1f3667;
    width: 20%;
    height: 100%;
    transform: perspective(60px) rotateY(-20deg) scale(1, 0.6);
    margin-right: 3%;
}
.post-cont2{
    width: 100%;
    
}
.sub-cont{
    border-radius: 25px;
    background-color: rgb(140, 142, 143);
    height: 95vh;
    margin: 18px;
    padding: 0;
    float: right;
    position: relative;
}
.as-cont{
    text-align: center;
    /* padding-right: 30vh; */
}
.as-cont h2, h3{
    color: black;
    
}
.p-form{
    color: black;
    padding: 3vh;
    margin-right: 25vh;
}
.p-form small{
    font-weight: bold;
    margin: 0;
    
}
.form-lbl{
    margin-top: 20px;
    margin-left: 12px;
}
.form-lbl input{
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    width: 60vh;
    padding: 10px;
    text-align: center;
    margin-left: 60px;
    
}
.fm-lb{
    margin-left: -12px;
    margin-top: 10px;
}

.sbmt-form{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 18px;
}
.sbmt-form input{
    border: none;
}
.upl-btn{
    text-align: center;
    padding: 5px;
}
.upl-btn input{
    background-color: #1f3667;
    border-radius: 3vh;
    border-color: #1f3667;
    border-style: solid;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 25vh;
}

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .post-cont {
      flex-direction: column;
      height: auto;
      position: static;
    }
    
    .cont-a, .cnt-d {
      width: 100%;
      height: auto;
      transform: none;
      margin: 0;
    }
    
    .cont-b {
      width: 100%;
      text-align: center;
    }
    
    .post-cont2 {
      width: 100%;
    }
    
    .sub-cont {
      height: auto;
      margin: 0;
      padding: 10px;
    }
    
    .p-form {
      margin: 0;
      padding: 0 10px;
    }
    
    .form-lbl input {
      width: 100%;
      margin-left: 0;
    }
  }
  